# Compilados y Objetos
*.o
*.obj
*.exe
dist/
build/
bin/

# Archivos de sistema
.DS_Store
Thumbs.db

# IDEs (Netbeans, VSCode, etc.)
.vscode/
.idea/
nbproject/

# Salidas de ejecución (imágenes generadas)
tests/output/*.ppm
/tmp/*.ppm
